@model IEnumerable<SATProject.DATA.EF.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1 class="text-center m-2">@ViewData["Title"]</h1>

<p class="bg-primary text-center p-2">
    <a class="text-light btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table bg-secondary text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="bg-primary text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curriculum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-secondary text-light" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                <a class="btn btn-warning text-dark" asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                <a class="btn btn-danger text-light" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
